# Automatizo la apertura de un pull request

name: Create pull request

on:
  workflow_call:

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: '锔 checkout repository'
        uses: actions/checkout@v3

      - name: Version Increment
        id: version
        run: |
          echo "**********************"
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          npm version minor -m "v%s"
          version=$(node -p "require('./package.json').version")
          echo "::set-output name=version::${version}"
          echo "**********************"

      - name: Create Pull Request
        id: cpr
        uses: create-pull-request@v4
        with:
          commit-message: Create pull request
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: ${{ github.ref }}
          delete-branch: true
          base: production
          title: 'v${{ steps.version.outputs.version }} release'
          body: |
            # Cambios
            <!-- Incluya un resumen del cambio y qu茅 problema se solucion贸. -->

            Fixes # (issue)


            ## De qu茅 se trata este PR

            - Ingrese una breve descripci贸n para este PR


            ### Ejecuciones de prueba

            - [Run actions](<>)


            ## Tipo de cambio
            <!-- Elimine las opciones que no sean relevantes. -->
            - [ ]  Actualizaci贸n de documentaci贸n
            - [ ] И Casos de prueba
            - [ ]  Correcci贸n de errores (cambio continuo que soluciona un problema)
            - [ ]  Nueva caracter铆stica (cambio continuo que agrega funcionalidad)
            - [ ]  Cambio importante (correcci贸n o caracter铆stica que har铆a que la funcionalidad existente no funcionara como se esperaba)
            - [ ]  Este cambio requiere una actualizaci贸n de documentaci贸n

          labels: |
            automated pr
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}
          draft: false
